<div class="container-fluid location-container mt-5 mat-elevation-z8 p-0" >
    <mat-toolbar>

        <span>Facilites</span>
        <span class="example-spacer">

        </span>
        <button mat-raised-button color="primary" (click)="openFilterModel()">Filters</button>
        <div>
            <app-search (search)="searchFacility($event)"></app-search>
        </div>
    </mat-toolbar>
    <app-table [listData]="dataSource" (show)="displayFacilityDetails($event)" (sort)="sortFacility($event)">
    </app-table>
    <mat-paginator [length]="Facilitys.length" [pageSizeOptions]="pageSizeOption" aria-label="Select page" (page)="setPagination($event)">
    </mat-paginator>

</div>