<h1 mat-dialog-title>Facility Details</h1>
<div mat-dialog-content>
    <ol>
        <li>
            <span class="text-primary"> Facility Name :</span> {{data.facility_name}}
        </li>
        <li>
            <span class="text-primary"> Type Of Facility :</span> {{data.type_of_facility}}
        </li>
        <li>
            <span class="text-primary"> City :</span> {{data.city}}
        </li>
        <li>
            <span class="text-primary"> State :</span> {{data.state}}
        </li>
        <li>
            <span class="text-primary"> Total Number Of Beds :</span> {{data.total_number_of_beds}}
        </li>
        <li>
            <span class="text-primary"> Zip Code :</span> {{data.zip_code}}
        </li>
        <li>
            <span class="text-primary"> Cms Certification_number_ccn :</span> {{data.cms_certification_number_ccn}}
        </li>
    </ol>
</div>